# API Configuration
# URL of your backend API server
VITE_NEXT_PUBLIC_API_URL=http://localhost:8000

# Client Configuration
# URL where this admin panel is hosted (or localhost for dev)
CLIENT_URL=http://localhost:5173

# Environment
VITE_APP_ENV=development

# Firebase Configuration (Authentication)
# Should match the one used in the Web app
# Link: https://console.firebase.google.com/
VITE_FIREBASE_API_KEY="AIzaSyBSoq0PgWP6phRX4MJdUTOE_zi7zJVNzPA"
VITE_FIREBASE_AUTH_DOMAIN="babymart-55a4b.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="babymart-55a4b"
VITE_FIREBASE_STORAGE_BUCKET="babymart-55a4b.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="720789065969"
VITE_FIREBASE_APP_ID="1:720789065969:web:ba65de0a15de6a8d351950"
VITE_FIREBASE_MEASUREMENT_ID="G-JF80L8Y4SG"
